body {
    background-color: antiquewhite;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

#timer {
    margin-right: 100px;
}

.header {
    display: flex;
    text-align: center;
    justify-content: center;
}

#start {
    background-color: forestgreen;
    width: 200px;
    height: 75px;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    margin: auto;
    border-radius: 15px;
}

h3 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.answers {
    text-align: center;
    list-style: none;
}